h3 {
    font-weight: 700;
    font-size: 14px;
    color: black;
    letter-spacing: -0.3px;
}

.smileyPic {
    width: 200px;
}

main section p {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    margin: 0 10vw;
}