/* To-Do: code refactoring, check for OS and browser compatibility, units flexible enough?  */


/* ----------------------- Fonts ----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Do i have to store the font locally because of the privacy policy and cookie consent? */


/* Just works when font is then locally installed or hosted online */
/* @font-face {
    font-family: "PPMonumentExtended-Regular";
    src: url("/fonts/PPMonumentExtended-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
} */


/* ----------------------- General Parameter ----------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(240, 213, 198);
    font-family: 'Manrope', sans-serif;
    text-align: center;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* ----------------------- main ----------------------- */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6vh;
    height: 100%;
    width: 100%;
}

/* Katrin Kleemann */
main h1 {
    font-weight: 500;
    font-size: 14px;
    color: rgb(240, 213, 198);
    background-color: black;
    padding: 12px 26px;
    border-radius: 30px;
    letter-spacing: 0.3px;
}

/* Topics */
main h2 {
    /* font-family: "PPMonumentExtended-Regular", sans-serif;
    font-size: 26px; */
    font-family: 'Fahkwang', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 105%;
    letter-spacing: -0.2px;

}

/* ----------------------- footer ----------------------- */

/* Grid */
footer {
    display: grid;
    grid-template-columns: 1fr 1.6fr 1fr;
}

/* Link styles */
footer a {
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color: black;
    letter-spacing: -0.3px;
    align-self: center;
}

/* Alignment */
.mail {
    justify-self: end;
}

.smileyIcon {
    width: 16px;
    justify-self: center;
    align-self: center;
}

.linkedin {
    justify-self: start;
}